<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
		<link rel="icon" href="../static/frisdrank_logo.png">
		<title>Carbo Vending Portal</title>
	</head>
	<body>
		<div class = "container">
			<div class = "header">
				<div id="logo-container"></div>
				<h1 class="titelblok">Welkom bij het Carbo Vending portal<br>Selecteer uw automaat:</h1>
			</div>
			<div class = "button_container">
				<a class = "tile-button" href="{{ url_for('heidelberglaan') }}">
					<button id="button_hl15"></button>
				</a>
				<a class = "tile-button" href="{{ url_for('padualaan') }}">
					<button id="button_pl101"></button>
				</a>
			</div>
			<div class="footer">
				<p>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> edited by D. Lankheet<p>
			</div>
		</div>
	</body>
</html>