<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
		<link rel="icon" href="../static/frisdrank_logo.png">
		<title>Carbo Vending Portal</title>
	</head>
	<body>
		<div class = "container">
			<div class = "header">
				<div id="logo-container"></div>
				<h1 class="titelblok">Padualaan</h1>
                <h1 class="black-color">Aantal blikjes: {{ PLcansAmount }}</h1>
			</div>
			<div class="footer">
				<p>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> edited by D. Lankheet<p>
			</div>
		</div>
	</body>
</html>